version: "3.9"

services:
  backend:
    build: .
    container_name: fastapi_backend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: frontend_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ${PWD}/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src/gradio_demo/app/frontend:/app/frontend:ro
    depends_on:
      - backend
