version: "3.9"

services:
  backend:
    build: .
    container_name: sketch_backend
    restart: always
    expose:
      - "8000"
    volumes:
      - ./app/models/weights:/app/app/models/weights
    environment:
      - PYTHONUNBUFFERED=1

  nginx:
    image: nginx:alpine
    container_name: sketch_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app/frontend:/usr/share/nginx/html:ro
