services:
  backend:
    build: .
    container_name: sketch_backend
    restart: always
    ports:
      - "8000:8000"
    networks:
      - app_net
    
  nginx:
    image: nginx:alpine
    container_name: sketch_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./src/app/frontend:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    networks:
      - app_net

networks:
  app_net:
    driver: bridge