services:
  backend:
    build: .
    container_name: sketch_backend
    restart: always
    ports:
      - "8000:8000"
  nginx:
    image: nginx:alpine
    container_name: sketch_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./app/frontend:/usr/share/nginx/html:ro
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

